body {
  font-family: 'Outfit Variable', 'HarmonyOS Sans SC', 'PingFang SC', sans-serif;

  /* 优化渲染 */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

b,
strong {
  font-weight: 500;
}
